@use '../abstracts/abstracts';

.button {
  @include abstracts.reset-button;
  padding: 24px 36px;
  max-width: 224px;
  width: 100%;
  color: var(--shades-white);
  font-size: 18px;
  line-height: 1;

  &--light {
    background-color: var(--primary-500);

    @include abstracts.hover {
        background-color: var(--primary-400);
      }
  }

  &--dark {
    background-color: var(--primary-800);

    @include abstracts.hover {
      background-color: var(--primary-500);
    }
  }

  &--with-arrow {
    @include abstracts.tablet {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
    }
  }

  &--transparent {
    border: 2px solid var(--primary-600);
    
    @include abstracts.hover {
      background-color: var(--primary-600);
    }
  }
}
