@use '../abstracts/abstracts';

.contact-us {
  background-color: var(--shades-white);
  padding-top: var(--section-padding-y);
  color: var(--neutral-600);

  &__header {
    color: var(--primary-800);
    font-weight: 400;
    margin-bottom: calc(var(--section-padding-y) / 2);
  }

  &__main {
    display: flex;
    align-items: center;
    column-gap: 70px;

    @include abstracts.tablet {
      display: contents;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include abstracts.tablet {
      row-gap: 20px;
    }
  }

  &__image {
    height: auto;
    
    &--aligned {
     align-self: flex-end;
    }
  }

  &__button {
    max-width: 100%;
    width: 100%;
  }
}