@use '../abstracts/abstracts';

.process {
  &__container {
    @include abstracts.flex-center;
    flex-direction: column;
    row-gap: 40px;

    @include abstracts.tablet {
      align-items: flex-start;
    }
  }

  &__title {
    @include abstracts.flex-center(true);
    flex-direction: column;
    width: clamp(280px, 50vw, 900px);
    text-align: center;

    @include abstracts.tablet {
      align-items: start;
      text-align: start;
      width: 100%;
    }
  }

  &__bite {
    margin-bottom: 20px;
  }

}