@use '../abstracts/abstracts';

.tag {
  @include abstracts.reset-link;
   text-transform: uppercase;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 100px;
    background-color: var(--primary-700);

    @include abstracts.hover {
      scale: 1.1;
    }
}