@use '../abstracts/abstracts';

.works-card {
  border-bottom: 1px solid var(--primary-800);
  height: 100%;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

  &__image, &__top-section {
    margin-bottom: 20px;
  }

  &__wrapper {
    position: relative;
    
    &::before {
      content: 'View';
      position: absolute;
      @include abstracts.flex-center;
      @include abstracts.abs-center;
      width: 30%;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      background-color: var(--primary-400);
      transition-duration: var(--transition-duration);
      opacity: 0;
      cursor: pointer;
    }

    @include abstracts.hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__image {
    height: auto;
    transition-duration: var(--transition-duration);
  }

  &__top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include abstracts.mobile {
      flex-direction: column;
      align-items:flex-start;
      row-gap: 20px;
    }
  }

  &__article-tags {
    display: flex;
    gap: 16px;
  }
}