// файл с утилитарными классами
@use 'media';
@use 'mixins';

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  &--overflow-hidden {
    overflow-x: hidden;
  }
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.hidden-tablet {
  @include media.tablet {
    display: none !important;
  }
}

.visible-tablet {
  @include media.tablet-above {
    display: none !important;
  }
}

// спрятать элемент для мобильной версии
.hidden-mobile {
  @include media.mobile {
    display: none !important;
  }
}

// отображать элемент только для мобильной версии
.visible-mobile {
  @include media.mobile-above {
    display: none !important;
  }
}